/Konexioa.class
/Metodoak.class
/Bezeroa.class
/MetodoakLeihoAldaketaBBDD.class
/MetodoakKontsultak.class
/Pertsona.class
/Langilea.class
/Apartamentua.class
/Etxea.class
/Hotela.class
/Ostatua.class
